<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css" />
    <!--<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/prettify.css" />-->
    <link rel="shortcut icon" href="{{.Site.BaseURL}}img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/sunburst.css" />
</head>
<body onload="PR.prettyPrint()">
    <div class="navheader">
        <table width="100%" summary="Navigation header">
            <tbody>
                <tr>
                    <td colspan="3" align="center">Co1driver 的个人博客</td>
                </tr>
                <tr>
                    <td width="85%" align="left">&nbsp;</td>
                    <td width="5%" align="center">&nbsp;<a accesskey="h" href="https://github.com/chongg039">GITHUB</a></td>
                    <td width="5%" align="center">&nbsp;<a accesskey="a" href="{{ .Site.BaseURL }}/photo">PHOTO</a></td>
                    <td width="5%" align="right">&nbsp;<a accesskey="a" href="{{ .Site.BaseURL }}/about">ABOUT</a></td>
                </tr>
            </tbody>
        </table>
    </div>
